<section class="sec-1">
<div class="container">
<div class="row">
<div class="job">
<div class="col-md-12 text-center ">
<div class="login-card">
<div id="<%= dom_id application %>">
  <p>
    <strong>Name:</strong>
    <%= application.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= application.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= application.status %>
  </p>
</div>


</div>
</div>
</div>
</div>
</section>