<section class="sec-1">
<div class="container">
<div class="row">
<div class="job">
<div class="col-md-12 text-center ">
<div class="login-card">
<h1>Editing application</h1>

<%= render "form", application: @application %>

<br>

<div>
  <%= link_to "Show this application", @application %> |
  <%= link_to "Back to applications", applications_path %>
</div>
</div>
</div>
</div>
</div>
</section>