 
<div class="jobs">
<div class="job-title" id="<%= dom_id job %>">
  <p class="job-title-p">
    <strong>Job Label:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Job Description:</strong>
    <%= job.description %>
  </p>

 </div>
 </div>